<nav id="navbar" class="bg-zinc-200 p-3 flex justify-between items-center">
    <ul class="navbar-links">
        <li>
            <a routerLink="/home">
                Home
            </a>
        </li>
        <li>
            <a routerLink="">
                Livros
            </a>
        </li>
        <li>
            <a routerLink="">
                Autores
            </a>
        </li>
        <li>
            <a routerLink="">
                Editoras
            </a>
        </li>
    </ul>
    <a routerLink="/profile" class="user-link">
        <ng-icon name="heroUserCircle" [color]="iconColor" size="32px"></ng-icon>
    </a>
</nav>