<h2>CRIAR SEDE</h2>
<form [formGroup]="headquarterForm" (submit)="createHeadquarter()">
    <div>
        <label for="headquarterCity">City:</label>
        <input id="headquarterCity" type="text" formControlName="city">
    </div>

    <div>
        <label for="headquarterState">State:</label>
        <input id="headquarterState" type="text" formControlName="state">
    </div>

    <div>
        <label for="headquarterCountry">Country:</label>
        <select name="headquarterCountry" id="headquarterCountry" formControlName="countryId">
            <option value="" selected>
                Selecione o país da sede
            </option>
            @for (country of countries(); track $index) {
            <option [value]="country.id">
                {{country.name}}
            </option>
            }
        </select>
    </div>

    <div>
        <label for="headquarterStreet">Street:</label>
        <input id="headquarterStreet" type="text" formControlName="street">
    </div>

    <div>
        <label for="headquarterNumber">Number:</label>
        <input id="headquarterNumber" type="number" formControlName="number">
    </div>

    <div>
        <label for="headquarterZipCode">ZIP Code:</label>
        <input id="headquarterZipCode" type="text" formControlName="zipCode">
    </div>

    <div>
        <label for="headquarterPublisherId">Publisher:</label>
        <select name="headquarterPublisherId" id="headquarterPublisherId" formControlName="publisherId">
            <option value="" selected>
                Selecione a editora
            </option>
            @for (publisher of publishers(); track $index) {
            <option [value]="publisher.id">
                {{publisher.name}}
            </option>
            }
        </select>
    </div>

    <button [disabled]="!headquarterForm.valid" type="submit">
        Criar nova sede
    </button>

</form>