#home {
    min-height: calc(100dvh - (var(--header-min-height) + var(--footer-min-height)));
    max-width: var(--container-max-width);
    padding: var(--container-padding);
    width: 100%;
    margin: auto;
}