<h2>PAÍSES</h2>
<form [formGroup]="countryForm" (ngSubmit)="submitCountry()">
  <div>
    <label for="countryName">Name:</label>
    <input id="countryName" type="text" formControlName="name">
  </div>
  <div>
    <label for="isoCode">ISO Code:</label>
    <input id="isoCode" type="text" formControlName="isoCode">
  </div>

  <button type="submit" [disabled]="!countryForm.valid">
    Enviar
  </button>
</form>

<h5>Cadastrados:</h5>
<ul>
  @for (country of countries; track $index) {
  <li>
    {{country.name}} - {{country.isoCode}}
  </li>
  }
</ul>

<h2>AUTORES</h2>
<form [formGroup]="authorForm" (ngSubmit)="submitAuthor()">
  <div>
    <label for="authorName">Name:</label>
    <input id="authorName" type="text" formControlName="name">
  </div>

  <div>
    <label for="authorBirthday">Birthday:</label>
    <input id="authorBirthday" type="date" formControlName="birthday">
  </div>

  <div>
    <label for="authorDayOfDeath">Day of death:</label>
    <input id="authorDayOfDeath" type="date" formControlName="dayOfDeath">
  </div>

  <div>
    <label for="authorOriginCountry">País de origem:</label>
    <select name="authorOriginCountry" id="authorOriginCountry" formControlName="countryId">
      <option value="" selected>
        Selecione o país
      </option>
      @for (country of countries; track $index) {
      <option [value]="country.id">
        {{country.name}}
      </option>
      }
    </select>
  </div>

  <button type="submit">
    Enviar
  </button>
</form>

<h5>Cadastrados</h5>
<ul>
  @for (author of authors; track $index) {
  <li>
    {{author.name}}
    |
    <button (click)="deleteAuthor(author.id)">
      Delete
    </button>
  </li>
  }
</ul>

<h2>EDITORAS</h2>

<form [formGroup]="publisherForm" (submit)="submitPublisher()">
  <div>
    <label for="publisherName">Publisher name:</label>
    <input id="publisherName" type="text" formControlName="name">
  </div>
  <div>
    <label for="publisherFounder">Founder name:</label>
    <input id="publisherFounder" type="text" formControlName="founder">
  </div>
  <div>
    <label for="publisherFoundationYear">Foundation year:</label>
    <input id="publisherFoundationYear" type="text" formControlName="foundationYear">
  </div>

  <button type="submit">Enviar</button>
</form>

<h5>Cadastradas</h5>
<ul>
  @for (publisher of publishers; track $index) {
  <li>
    {{publisher.name}}
  </li>
  }
</ul>

<h2>SEDES</h2>
<form [formGroup]="headquarterForm" (submit)="submitHeadquarter()">
  <div>
    <label for="headquarterCity">City:</label>
    <input id="headquarterCity" type="text" formControlName="city">
  </div>

  <div>
    <label for="headquarterState">State:</label>
    <input id="headquarterState" type="text" formControlName="state">
  </div>

  <div>
    <label for="headquarterCountry">Country:</label>
    <select name="headquarterCountry" id="headquarterCountry" formControlName="countryId">
      <option value="" selected>
        Selecione o país da sede
      </option>
      @for (country of countries; track $index) {
      <option [value]="country.id">
        {{country.name}}
      </option>
      }
    </select>
  </div>

  <div>
    <label for="headquarterStreet">Street:</label>
    <input id="headquarterStreet" type="text" formControlName="street">
  </div>

  <div>
    <label for="headquarterNumber">Number:</label>
    <input id="headquarterNumber" type="number" formControlName="number">
  </div>

  <div>
    <label for="headquarterZipCode">ZIP Code:</label>
    <input id="headquarterZipCode" type="text" formControlName="zipCode">
  </div>

  <div>
    <label for="headquarterPublisherId">Publisher:</label>
    <select name="headquarterPublisherId" id="headquarterPublisherId" formControlName="publisherId">
      <option value="" selected>
        Selecione a editora 
      </option>
      @for (publisher of publishers; track $index) {
      <option [value]="publisher.id">
        {{publisher.name}}
      </option>
      }
    </select>
  </div>

  <button [disabled]="!headquarterForm.valid" type="submit">
    Enviar
  </button>

</form>
<h5>Cadastrados</h5>
<ul>
  @for (headquarter of headquarters; track $index) {
  <li>
    {{headquarter.street}} - {{headquarter.country.name}}
  </li>
  }
</ul>

<h2>LIVROS</h2>

<form [formGroup]="bookForm" (submit)="submitBook()">
  <div>
    <label for="bookTitle">Title:</label>
    <input id="bookTitle" type="text" formControlName="title">
  </div>

  <div>
    <label for="bookEditionNumber">Edition Number:</label>
    <input id="bookEditionNumber" type="number" formControlName="editionNumber">
  </div>

  <div>
    <label for="bookSynopsis">Synopsis:</label>
    <br>
    <textarea name="bookSynopsis" id="bookSynopsis" formControlName="synopsis" rows="10"></textarea>
  </div>

  <div>
    <label for="bookYearOfRelease">Year of release:</label>
    <input id="bookYearOfRelease" type="number" formControlName="yearOfRelease">
  </div>

  <div>
    <label for="bookISBNCode">ISBN Code:</label>
    <input id="bookISBNCode" type="text" formControlName="isbnCode">
  </div>

  <div>
    <label for="bookAuthorId">Author:</label>
    <select name="bookAuthorId" id="bookAuthorId" formControlName="authorId">
      <option value="" selected>
        Selecione o autor da obra
      </option>
      @for (author of authors; track $index) {
      <option [value]="author.id">
        {{author.name}}
      </option>
      }
    </select>
  </div>

  <div>
    <label for="bookPublisherId">Publisher:</label>
    <select name="bookPublisherId" id="bookPublisherId" formControlName="publisherId">
      <option value="" selected>
        Selecione a editora do livro
      </option>
      @for (publisher of publishers; track $index) {
      <option [value]="publisher.id">
        {{publisher.name}}
      </option>
      }
    </select>
  </div>

  <button type="submit">
    Enviar
  </button>
</form>

<h5>Cadastrados</h5>
<ul>
  @for (book of books; track $index) {
  <li>
    {{book.title}}
  </li>
  }
</ul>